@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('./assets/fonts/Roboto/roboto-v29-latin-regular.woff2') format('woff2'),
    url('./assets/fonts/Roboto/roboto-v29-latin-regular.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local(''),
    url('./assets/fonts/Roboto/roboto-v29-latin-500.woff2') format('woff2'),
    url('./assets/fonts/Roboto/roboto-v29-latin-500.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: local(''),
    url('./assets/fonts/Roboto/roboto-v29-latin-900.woff2') format('woff2'),
    url('./assets/fonts/Roboto/roboto-v29-latin-900.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local(''),
    url('./assets/fonts/Roboto/roboto-v29-latin-700.woff2') format('woff2'),
    url('./assets/fonts/Roboto/roboto-v29-latin-700.woff') format('woff');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  --color-background: #242b33;
  --color-primary: #effbff;
  --color-accent: #6ee2ff;
  --spacing-ui: 10px;

  background-color: var(--color-background);
  transition: background-color 0.3s;
  font-family: Roboto, sans-serif;
  font-size: 14px;
}

a {
  color: var(--color-primary);
  text-decoration: none;
}

/* From Uiverse.io by gharsh11032000 */
/* The switch - the box around the slider */
.Switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 2em;
}

/* Hide default HTML checkbox */
.Switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.Slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background: #9fccfa;
  border-radius: 50px;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.Slider:before {
  position: absolute;
  content: '';
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2em;
  width: 2em;
  inset: 0;
  background-color: white;
  border-radius: 50px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.Switch input:checked + .Slider {
  background: #0974f1;
}

.Switch input:focus + .Slider {
  box-shadow: 0 0 1px #0974f1;
}

.Switch input:checked + .Slider:before {
  transform: translateX(1.6em);
}

.SectionHeader {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 1rem;
}
